<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../calculator app/calculator.css">
    <title>calculator</title>
</head>
<body>
    <div class="home">
        <a class="home__btn" href="\">
            <svg width='512' height='512' viewBox='0 0 512 512'>
                <path
                    d='M80,212V448a16,16,0,0,0,16,16h96V328a24,24,0,0,1,24-24h80a24,24,0,0,1,24,24V464h96a16,16,0,0,0,16-16V212'
                    style='fill: #ffffff;stroke: #ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' />
                <path d='M480,256,266.89,52c-5-5.28-16.69-5.34-21.78,0L32,256'
                    style='fill: #ffffff;stroke: #ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' />
                <polyline points='400 179 400 64 352 64 352 133'
                    style='fill: #ffffff;stroke: #ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' />
            </svg>
        </a>
    </div>
    <div class="main">
        <h1>calculator</h1>
        <form action="/calculator" method="POST">
            <input class="form-control" type="text" name="num1" autofocus="true">
            <input class="form-control" type="text" name="num2">
            <select class="form-control" id="sel1" name="operator">
                <option value="+">addition</option>
                <option value="-">substraction</option>
                <option value="/">divition</option>
                <option value="*">multiplication</option>
                <option value="%">modulo</option>
            </select>
            <button class="btn btn-outline-dark" type="submit" name="submit">calculate </button>
        </form>
    </div>
    <a href="/" class="btn btn-dark" style="width: 100%; border-radius: 0;">home</a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>